* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 320px;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;
}

header {
    height: 300px;
    display: flex;
    justify-content: space-between;
}

figure {
    text-align: center;
}

main {
    display: flex;
}

section {
    padding: 20px;
}

h3 {
    border-bottom: 2px solid #31db9a;
    line-height: 36px;
}

a {
    text-decoration: none;
    color: gray;
}

a:hover {
    text-decoration: underline;
    color: #0c0b0b;
}

ul {
    display: flex;
    flex-direction: column;
    /*align-items: flex-start;*/
    padding: 5px;
}

.photo {
    border-radius: 100%;
    border: 10px solid #caf5c3;
    width: 100%;
    max-width: 300px;
    height: auto;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px 60px;
}

.content {
    flex: 1 0 auto;
    background: #f8f6f2;
    border: 1px solid #b9b1b1;
    border-bottom-color: floralwhite ;
    margin: 5px auto 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.example {
    overflow: auto;
}

.footer {
    display: flex;
    flex-shrink: 0;
    height: 6%;
    width: 100%;
    background: #31db9a;
    border-top: 8px solid #caf5c3;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 5px 20px;
    justify-content: center;
    align-items: center;
    margin: 0 auto 5px;
}

.link {
    text-decoration: none;
    margin: 0 auto;
}

.list {
    background: #e5f5ea;
    /*width: 25%;*/
    width: 250px;
}

.nav-menu ul li {
    display: none;
}

.slicknav_menu {
    display: block;
    background: transparent;
    width: 145px;
}

.slicknav_menu .slicknav_menutxt {
    display: none;
}

.slicknav_btn {
    background-color: transparent;
    padding: 0;
    margin: 15px 0;
}

.slicknav_menu .slicknav_icon-bar {
    background-color: #111;
    width: 20px;
    height: 3px;
}

.slicknav_nav {
    background: #111;
}

.slicknav_nav ul {
    margin: 0;
}

.slicknav_nav a:hover {
    border-radius: 0;
    background: #31db9a;
    color: #fff;
}

.slicknav_nav .slicknav_row:hover {
    border-radius: 0;
    background: #31db9a;
    color: #fff;
}

.slicknav_nav .slicknav_row,
.slicknav_nav a {
    padding: 8px 30px;
    margin: 0;
}

@media (max-width: 1100px ) {
    .content {
        width: 80%;
    }

    .footer {
        width: 80%;
    }

    .list {
        width: 250px;
    }

    .figcaption {
        display: none;
    }

    header {
        height: 230px;
    }

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 15px;
    }
}

@media (max-width: 900px) {
    .footer {
        flex-direction: column;
        height: 190px;
        justify-content: center;
        align-items: center;
    }

    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .photo {
        width: 80%;
    }

     .list {
         width: 100%;
     }

    .location {
        margin: 5px 0;
    }

    .link {
        margin: 5px 0;
    }
}
